// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 Rigado
 * Based on imx8mm-evk.dts, Copyright 2020 NXP
*/
/dts-v1/;

#include <dt-bindings/phy/phy-imx8-pcie.h>
#include <dt-bindings/usb/pd.h>
#include "imx8mm.dtsi"

/ {
	chosen {
		stdout-path = &uart2;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0 0x80000000>;
	};

	pcie0_refclk: pcie0-refclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
	};

	ref25m: ref25m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};

	poe12v_supply: poe12v-supply {
		compatible = "regulator-fixed";
		regulator-name = "PoE Main 12V Power";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		regulator-boot-on;
	};

	pmic5v_supply: pmic5v-supply {
		compatible = "regulator-fixed";
		regulator-name = "PMIC 5V Main Power";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-boot-on;
		vin-supply = <&poe12v_supply>;
	};

	radio5v_supply: radio5v-supply {
		compatible = "reg-userspace-consumer";
		regulator-name = "Radio Board 5V Main Power";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio1 13 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <70000>;
		enable-active-high;
		vin-supply = <&poe12v_supply>;
	};

	radio3v3_supply: radio3v3-supply {
		compatible = "reg-userspace-consumer";
		regulator-name = "Radio Board 3.3V Main Power";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio1 14 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <70000>;
		enable-active-high;
		vin-supply = <&poe12v_supply>;
	};

	exp3v3_supply: exp3v3-supply {
		compatible = "reg-userspace-consumer";
		regulator-name = "m-PCIe M.2 Expansion 3.3V Power";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio1 15 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <70000>;
		enable-active-high;
		vin-supply = <&poe12v_supply>;
	};

	dvdd1v2_supply: dvdd1v2-supply {
		compatible = "regulator-fixed";
		regulator-name = "PCIe Switch 1.2V Power";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		regulator-boot-on;
		vin-supply = <&poe12v_supply>;
	};
};

&A53_0 {
	cpu-supply = <&buck2_reg>;
};

&A53_1 {
	cpu-supply = <&buck2_reg>;
};

&A53_2 {
	cpu-supply = <&buck2_reg>;
};

&A53_3 {
	cpu-supply = <&buck2_reg>;
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec1>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	fsl,magic-packet;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			interrupt-parent = <&gpio1>;
			interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
			reg = <0>;
			reset-gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
			reset-assert-us = <10000>;
			reset-deassert-us = <80000>;
			at803x,led-act-blind-workaround;
			at803x,eee-okay;
			at803x,vddio-1p8v;
			vddio-supply = <&buck5_reg>;
			vdd-supply = <&buck4_reg>;
		};
	};
};

&i2c1 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";
	pmic_nxp: pca9450@25 {
		compatible = "nxp,pca9450a";
		reg = <0x25>;
		pinctrl-0 = <&pinctrl_pmic>;
		pinctrl-names = "default";
		interrupt-parent = <&gpio1>;
		interrupts = <3 IRQ_TYPE_LEVEL_LOW>;

		regulators {
			buck1_reg: BUCK1 {
				regulator-name = "BUCK1";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <2187500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
				nxp,dvs-run-voltage = <850000>;
				nxp,dvs-standby-voltage = <800000>;
				vin-supply = <&pmic5v_supply>;
			};

			buck2_reg: BUCK2 {
				regulator-name = "BUCK2";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <2187500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
				vin-supply = <&pmic5v_supply>;
			};

			buck3_reg: BUCK3 {
				regulator-name = "BUCK3";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <2187500>;
				regulator-boot-on;
				regulator-always-on;
				vin-supply = <&pmic5v_supply>;
			};

			buck4_reg: BUCK4 {
				regulator-name = "BUCK4";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
				vin-supply = <&pmic5v_supply>;
			};

			buck5_reg: BUCK5 {
				regulator-name = "BUCK5";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
				vin-supply = <&pmic5v_supply>;
			};

			buck6_reg: BUCK6 {
				regulator-name = "BUCK6";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
				vin-supply = <&pmic5v_supply>;
			};

			ldo1_reg: LDO1 {
				regulator-name = "LDO1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
				vin-supply = <&pmic5v_supply>;
			};

			ldo2_reg: LDO2 {
				regulator-name = "LDO2";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1150000>;
				regulator-boot-on;
				regulator-always-on;
				vin-supply = <&pmic5v_supply>;
			};

			ldo3_reg: LDO3 {
				regulator-name = "LDO3";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
				vin-supply = <&pmic5v_supply>;
			};

			ldo4_reg: LDO4 {
				regulator-name = "LDO4";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
				vin-supply = <&pmic5v_supply>;
			};

			ldo5_reg: LDO5 {
				regulator-name = "LDO5";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
			};
		};
	};
};

&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	pcie_clockgen: 9fgv0241@68 {
		compatible = "renesas,9fgv0241";
		reg = <0x68>;
		#clock-cells = <1>;
		clocks = <&ref25m>;
		vcc-supply = <&buck5_reg>;
		DIF0 {
			renesas,slew-rate = <3000000>;
		};
		DIF1 {
			renesas,slew-rate = <3000000>;
		};
	};

	usb2514b@50 {
		status = "disabled";
		compatible = "microchip,usb2514b";
		reg = <0x50>;
		pinctrl-0 = <&pinctrl_usb2>;
		reset-gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
		non-removable-ports = <3 4>;
		vdd-supply = <&buck4_reg>;
		};
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";
};

&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";

	tpm: tpm@2e {
		compatible = "infineon,slb9673", "tcg,tpm-tis-i2c";
		reg = <0x2e>;
		label = "tpm2";
		interrupt-parent = <&gpio2>;
		interrupts = <12 IRQ_TYPE_LEVEL_HIGH>;
		vdd-supply = <&buck5_reg>;
	};
};

&gpio1 {
	// GPIO hog USB hub reset line high for when I2C driver cannot be loaded
	usb-hub-en {
		gpio-hog;
		gpios = <8 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "USB-hub-Reset-n";
	};
};

&gpio4 {
	// Hold a GPIO in block 4 active so clock stays active
	// Needed to avoid lock-up issues with OpenOCD which writes driectly to GPIO registers
	gp4-hold {
		gpio-hog;
		gpios =<0 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "GPIO4 Clock Hold";
	};
};

&pcie_phy {
	fsl,refclk-pad-mode = <IMX8_PCIE_REFCLK_PAD_INPUT>;
	fsl,clkreq-unsupported;
	fsl,tx-deemph-gen1 = <0x2d>;
	fsl,tx-deemph-gen2 = <0xf>;
	clocks = <&pcie0_refclk>;
	status = "okay";
};

&pcie0{
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie0>;
	reset-gpio = <&gpio1 7 GPIO_ACTIVE_LOW>;
	clocks = <&clk IMX8MM_CLK_PCIE1_ROOT>, <&pcie0_refclk>,
		 <&clk IMX8MM_CLK_PCIE1_AUX>;
	assigned-clocks = <&clk IMX8MM_CLK_PCIE1_AUX>,
			  <&clk IMX8MM_CLK_PCIE1_CTRL>;
	assigned-clock-rates = <10000000>, <250000000>;
	assigned-clock-parents = <&clk IMX8MM_SYS_PLL2_50M>,
				 <&clk IMX8MM_SYS_PLL2_250M>;
	vpcie-supply = <&exp3v3_supply>;
	status = "okay";
};

&uart1 { /* M.2 UART */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	assigned-clocks = <&clk IMX8MM_CLK_UART1>;
	assigned-clock-parents = <&clk IMX8MM_SYS_PLL1_80M>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart2 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&uart3 { /* Blocked by pin muxing */
	status = "disabled";
};

/* Radio board USB */
&usbphynop1 {
	wakeup-source;
	vbus-supply = <&radio5v_supply>;
};

&usbotg1 {
	dr_mode = "host";
	hnp-disable;
	srp-disable;
	adp-disable;
	disable-over-current;
	status = "okay";
};

/* Hub USB to m-PCIe, M.2, and USB-UART */
&usbphynop2 {
	wakeup-source;
	vbus-supply = <&exp3v3_supply>;
};

&usbotg2 {
	dr_mode = "host";
	hnp-disable;
	srp-disable;
	adp-disable;
	disable-over-current;
	status = "okay";
};

&iomuxc {
	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C1_SCL_I2C1_SCL			0x400001c3
			MX8MM_IOMUXC_I2C1_SDA_I2C1_SDA			0x400001c3
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C2_SCL_I2C2_SCL			0x400001c3
			MX8MM_IOMUXC_I2C2_SDA_I2C2_SDA			0x400001c3
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C3_SCL_I2C3_SCL			0x400001c3
			MX8MM_IOMUXC_I2C3_SDA_I2C3_SDA			0x400001c3
		>;
	};

	pinctrl_i2c4: i2c4grp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C4_SCL_I2C4_SCL			0x400001c3
			MX8MM_IOMUXC_I2C4_SDA_I2C4_SDA			0x400001c3
		>;
	};

	pinctrl_pmic: pmicirqgrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO03_GPIO1_IO3		0x141
		>;
	};

	pinctrl_usb2: usb2grp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO08_GPIO1_IO8		0x150
		>;
	};

	pinctrl_fec1: fec1grp {
		fsl,pins = <
			MX8MM_IOMUXC_ENET_MDC_ENET1_MDC		0x4
			MX8MM_IOMUXC_ENET_MDIO_ENET1_MDIO		0x4
			MX8MM_IOMUXC_ENET_TD3_ENET1_RGMII_TD3		0x4
			MX8MM_IOMUXC_ENET_TD2_ENET1_RGMII_TD2		0x4
			MX8MM_IOMUXC_ENET_TD1_ENET1_RGMII_TD1		0x4
			MX8MM_IOMUXC_ENET_TD0_ENET1_RGMII_TD0		0x4
			MX8MM_IOMUXC_ENET_RD3_ENET1_RGMII_RD3		0x89
			MX8MM_IOMUXC_ENET_RD2_ENET1_RGMII_RD2		0x89
			MX8MM_IOMUXC_ENET_RD1_ENET1_RGMII_RD1		0x89
			MX8MM_IOMUXC_ENET_RD0_ENET1_RGMII_RD0		0x89
			MX8MM_IOMUXC_ENET_TXC_ENET1_RGMII_TXC		0x0C
			MX8MM_IOMUXC_ENET_RXC_ENET1_RGMII_RXC		0x89
			MX8MM_IOMUXC_ENET_RX_CTL_ENET1_RGMII_RX_CTL	0x89
			MX8MM_IOMUXC_ENET_TX_CTL_ENET1_RGMII_TX_CTL	0x1f
			MX8MM_IOMUXC_GPIO1_IO09_GPIO1_IO9		0x150
		>;
	};

	pinctrl_pcie0: pcie0grp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO07_GPIO1_IO7		0x41
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX8MM_IOMUXC_UART1_RXD_UART1_DCE_RX		0x140
			MX8MM_IOMUXC_UART1_TXD_UART1_DCE_TX		0x140
			MX8MM_IOMUXC_UART3_RXD_UART1_DCE_CTS_B		0x140
			MX8MM_IOMUXC_UART3_TXD_UART1_DCE_RTS_B		0x140
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX8MM_IOMUXC_UART2_RXD_UART2_DCE_RX		0x140
			MX8MM_IOMUXC_UART2_TXD_UART2_DCE_TX		0x140
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO02_WDOG1_WDOG_B		0x166
		>;
	};
};
